$title-size: 25px;
$initial-point-size: 14px;
$way-point-size: 4px;

body {
  background: #eee;
}

#board-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #d8d2d2;
  border-radius: 1px;
  padding: 1px;
}

.row {
  height: $title-size + 2px;
}

.tile {
  position: relative;
  display: inline-block;

  background-color: #fff;
  width: $title-size;
  height: $title-size;
  margin: 1px;
  border-radius: 2.5px;

  &:not(.wall) {
    &:hover {
      background: #f7f7f7;
    }
  }
}

.wall {
  background: #86d0a9;
}

.initialPoint {
  position: absolute;
  width: $initial-point-size;
  height: $initial-point-size;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  border-radius: 50%;
  background-color: #0fcc38;
}

.wayPoint {
  position: absolute;
  width: $way-point-size;
  height: $way-point-size;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  border-radius: 50%;
  background-color: #000;
}

#controls {
  button {
    font-size: 15px;
    margin: 8px;
  }
}